/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

.text-shadow {
  text-shadow: -1px 1px 3px black;
}

.layout {
  color: #dfdddd;
  background-color: #1b1b1b;
}
