---
import { Image } from 'astro:assets';
import christmasImage from '../assets/images/2025_christmas_announcement.jpg';
---

<div class="flex justify-center">
  <div class="max-w-3xl w-full rounded-lg overflow-hidden shadow-xl">
    <Image
      src={christmasImage}
      alt="2025 Christmas Announcement at Taylor's Chapel"
      class="w-full h-auto"
      widths={[400, 600, 800]}
      sizes="(max-width: 768px) 100vw, 800px"
      quality={85}
    />
  </div>
</div>


